.hero {
    padding-top: 160px;
    padding-bottom: 197px;

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__text {
        color: $primary;
        font-size: 18px;
        margin-bottom: 11px;
    }

    &__description {
        width: 604px;
        font-weight: 800;
        font-size: 55px;
        color: #ffffff;
        margin-bottom: 40px;
    }

    &__sub-description {
        font-weight: 600;
        font-size: 18px;
        width: 558px;
        color: #ffffff;
        opacity: 0.7;
        margin-bottom: 50px;
    }

    &__img {
        position: absolute;
        right: -172px;
        top: -101px;
    }

    &__wrap {
        display: flex;
    }

    &__start-button {
        cursor: pointer;
        border: none;
        background: $primary;
        color: white;
        width: 171px;
        height: 57px;

        transition: all 0.5s;

        &:hover {
            background: #3a68b8b6;
        }
    }

    &__video-button {
        cursor: pointer;
        border: none;
        width: 217px;
        background: $primary;
        color: white;
        height: 57px;
        margin-left: 20px;

        transition: all 0.5s;

        &:hover {
            background: #3a68b8b6;
        }
    }

    &__block {
        margin-top: 197px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }
}

.about {
    padding-top: 130px;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        padding-bottom: 180px;
    }

    &__info {
        margin-left: 120px;
    }

    &__title {
        font-size: 40px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__description {
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 50px;
    }

    &__button {
        cursor: pointer;
        border: none;
        width: 150px;
        height: 52px;
        background: #3a68b8;
        border-radius: 5px;
        color: #ffffff;
        transition: all 0.5s;

        &:hover {
            background: #3a68b8b6;
        }
    }
}

.carousel {
    padding-bottom: 50px;

    &__item {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
        height: 389px !important;
        border-radius: 10px;
        backdrop-filter: blur(200px);
        background-color: rgba(255, 255, 255, 0.1);
        padding: 30px 30px 30px;
        margin: 0 9px;
    }

    &__img {
        width: 73px;
        height: 69px;
        margin-bottom: 30px;
    }
    &__title {
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 30px;
    }
    &__description {
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        color: rgba(255, 255, 255, 0.7);
    }
}

.reviews {
    padding-top: 170px;

    padding-bottom: 213px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        color: #ffffff;
        margin-bottom: 40px;
    }

    &__description {
        font-size: 16px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.7);
    }

    &__desc {
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 20px;
    }

    &__sub-desc {
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 20px;
    }

    &__paragraph {
        color: rgba(255, 255, 255, 0.7);
    }
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 99999999999999999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0); 
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    height: 1500vh;
    text-align: center;
    margin-top: 30px;
    background-color: black;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: -18px;
    right: 17px;
    font-size: 60px;
    z-index: 99;
}