.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    li button {
        width: 15px !important;
        height: 15px !important;
        background: rgba(44, 54, 71, 0.5) !important;
        border-radius: 10px;
        font-size: 0;
        border: none;
        margin-left: 10px;
    }

    .slick-active button {
        width: 15px !important;
        height: 15px !important;
        background: rgba(44, 54, 71, 1) !important;
        border-radius: 10px;
    } 
} 

.slick-track { 
    width: 2000px !important;
}